
h1 {
    font-family: 'Campton-light';
    color: #212529;
    font-size: 6em;
    font-weight: 600;
  }


p {
    font-family: 'Campton-light';
    color:  #212529;
}

.center {
    margin: auto;
    width: 50%;
    max-width: 790px;
}


.arrow-icon {
    position: relative;
    padding-left: 25%;
    color: #bfbfbf;
}

.title {
    margin-top: 50px;
}

.keywords {
    margin-top: -25px;
    padding-left: 5px;
}

.keywords p {
    color: #8e8e8e;
}


.logo-bar {
    margin-top: 10px;
    padding-left: 15px;
    float: left;
}

.logo-bar img {
    height: 35px;
    object-fit: cover;
}

.content-text {
    padding-top: 130px;

}



.justify {
    text-align: justify;
    text-justify: inter-word;
}

img.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.image-row {
    margin-top: 80px;
    
}

.all_mockup {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}


.section {
    margin-top: 200px;
}


.text-container h3 {
    padding: 60px 0 0 35px;
}

.text-container p {
    padding: 10px 35px 35px 35px;
    width: 100%;
}


.fa-icon {
    position: absolute;
    z-index: -888;
    top: 1000px;
}

.number {
    margin: -80px 0 -28px 50px;
    
}

.shade {
    -webkit-box-shadow: 0px 5px 19px -7px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 19px -7px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 19px -7px rgba(0,0,0,0.2);
    border-radius: 25px;
    margin-top: 250px;
    height: 320px;
    background-color: #fff;
}

.gradient-cut2 {
    position: absolute;
    z-index: -999;
    height: 600px;
    left: 0;
    top: 1100px;
    width: 100%;
    transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    background-color: #F8F8F8;
    overflow: hidden;
  }

  .gradient-cut3 {
    position: absolute;
    z-index: -999;
    height: 600px;
    left: 0;
    top: 2500px;
    width: 100%;
    transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    background-color: #F8F8F8;
    overflow: hidden;
  }
  