<div class="background-top"></div>
<div class="gradient-cut-background-top"></div>


  <div class="container">
      <div class="row">
          <div class="title center col-lg-12">
              <!-- <h1>To <span style="background-image: -webkit-linear-gradient(right, #F7971E, #FFD200);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">do</span> list application
                </h1> -->
              <h1>Todo list.</h1>
              <div class="keywords">
                  <p>UI design. &nbsp;&nbsp;Frontend development. </p>
                </div>
              <div class="logo-bar" *ngFor="let i of logoArray">
                <img src="{{i.img}}" alt="">
              </div>
              <div class="content-text justify">
                <p>Todo list is what it sounds like. I lacked a todo list application with easy allround access and no extra 
                  functionality. Therefore, I designed and developed my own todo list application with a Angular 6 frontend 
                  and a Firebase Firestore as database and backend. Besides from listing my todos, the application also displays 
                  some weather data via API calls to Openweathermap. 
                  <br>
                  <br>
                  I have not setup any security through login, which is why I unfortunately can&rsquo;t share the URL 😞  
                  <br>
                  <br>
                  The images below
                  shows the design of the application on different devices. 

                </p>
                <fa-icon [icon]="['fas', 'sort-down']" size="2x" class="arrow-icon"></fa-icon>
            </div>
          </div>
        
            <div class="image-container2 col-lg-12">
             <div class="image-row justify-content-center align-items-center all_mockup">
                <img class="img-fluid center-img" src="{{imagePath_1}}" width="1800" alt="">
             </div>
            </div>
      
      </div>
    </div>  
  
  