<div class="background-top"></div>
<div class="gradient-cut-background-top"></div>


  <div class="container-fluid">
      <div class="row">
          <div class="title center col-lg-12">
              <!-- <h1>To <span style="background-image: -webkit-linear-gradient(right, #F7971E, #FFD200);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">do</span> list application
                </h1> -->
              <h1>Vinyl On Demand.</h1>
              <div class="keywords">
                  <p>Visual identity. &nbsp;&nbsp; UI design. &nbsp;&nbsp; Web development.</p>
                </div>
              <div class="logo-bar" *ngFor="let i of logoArray">
                <img src="{{i.img}}" alt="">
              </div>
              <div class="content-text justify">
                <p>Vinyl On Demand was developed as concept for a online distribution platform for metal vinyls. 
                  <br>
                  <br>

                  The challenge was to deliver af visual identity for the platform. This viual identity was directly 
                  &rsquo;&rsquo;sketched&rsquo;&rsquo; in html and css and is based of Google Material design principles and elements
                  , which means the illustrations are screenshots from the local dev environment. 
                  <br>
                  <br>
                  The platform functionality itself was coded in Angular 4 by a good friend of mine. 

                  Scroll down to see examples of the visual identity.
                </p>
                <fa-icon [icon]="['fas', 'sort-down']" size="2x" class="arrow-icon"></fa-icon>
            </div>
          </div>


          <div class="image-container2 col-lg-12 top-padding-minus">
            <div class="image-row justify-content-center align-items-center mac">
                <img class="img-fluid center-img" src="{{imagePath_4}}" width="990" alt="">
            </div>
            <div class="image-row justify-content-center align-items-center mac">
                <img class="img-fluid center-img" src="{{imagePath_5}}" width="990" alt="">
            </div>
          </div>
          
      
          <div class="image-container2 col-lg-12">
           <div class="image-row justify-content-center align-items-center ipads">
              <img class="img-fluid center-img" src="{{imagePath_1}}" width="1330" alt="">
           </div>
          </div>




          
          