<div class="background"></div>
<div class="container-fluid ">
  <div class="row">
   

    <div class="text-container col-sm-8">
        <div class="title">
            <h1><span style="background-image: -webkit-linear-gradient(10deg,#FFD200,#F7971E);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">Hello,</span></h1>     
        </div>

      <div class="paragraph">
        <p>I&rsquo;m Emil, a digital designer with focus on Service User experience, interfaces and Design thinking in general.
          <br>
          <br>
          This page is dedicated to a selection of my work the past years. 
        </p>
      </div>
    </div>

    <div class="image-container col-sm-4">
        <img src="assets/img/Profile4.png" alt="an image of me">
      
    </div>  
  </div>
     
  <div class="gradient-cut2"></div>
  
</div>

