
h1 {
    font-family: 'Campton';
    color:  #badffa;
    font-size: 7.5em;
  }

p {
    font-family: 'Campton-light';
    color:  #badffa;
}

.paragraph p {
    color: #2e2f30;
    font-size: 1.4rem;
}

.paragraph {
    position: absolute;
    left: 60%;
    top: 50vh;
    width: 600px;
}

.text-container {
    margin-top: -20px;
}


.background {
    position: absolute;
    margin-top:-80px;
    background-color: #f8f8f8!important;
    color: #f8f8f8;
    height: 100vh;
    width: 100vw;
}


img {
    height: 100vh;
    width: 34vw;
    object-fit: cover;
    object-position: 50% 1%;
    overflow: hidden;
    
  }


  .image-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3000;
  }


  .image-container img {
    position: absolute;
    left: 0;
    z-index: 3000;
  }

  .title {
      position: relative;
      padding-top: 30vh;
      padding-left: 60%;
  }

  .title h1 {
      text-align: left;
  }

  .person {
      margin-top: -50px;
  }


.fa-2x {
    font-size: 24px!important;
}

.linkedin-icon {
    color:  #212529;
    opacity: 0.2;
    position: absolute;
    z-index: 3000;
    top: 30px;
    right: 50px;
}

.linkedin-icon:hover {
  color:  #212529;
  transition: all 0.9s cubic-bezier(0.000, 0.000, 0.230, 1);
  opacity: 1;
}


  

  

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 400px) {


    .linkedin-icon {
        display: none;
    }

    
    .paragraph {
        position: absolute;
        left: 8vw;
        top: 62vh;
        width: 300px;
    }


    img {
        height: 50vh;
        width: 100vw;
        object-fit: cover;
        object-position: 50% 1%;
        overflow: hidden;
      }


    .image-container img {
       left:0;
    }

  

    .title {
        position: relative;
        padding-top: 360px;
        padding-left: 0;
        position: absolute;
        z-index: 3001;
    }

    .paragraph p {
        color: #2e2f30;
        font-size: 1.4rem;
    }

    .background {
        position: absolute;
        margin-top: 0;
        background-color: #f8f8f8!important;
        color: #f8f8f8;
        height: 100vh;
        width: 100vw;
    }

   


}