
h1 {
    font-family: 'Campton';
    color:  #badffa;
    font-size: 4.5em;
  }

p {
    font-family: 'Campton-light';
    color:  #badffa;

}

.title-text {
    padding-left: 60px;
    padding-top: 15px;
}

.content-container {
    position: absolute;
    height: auto;
    width: 70vw;
    left: 14%;
    top: 180px;
}

.about-text {
    padding-top: 50px;
    max-width: 700px;
    text-align: justify;
    text-justify: inter-word;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 50% 1%;
  }