
h1 {
    font-family: 'Campton';
    font-size: 11.5em;
    letter-spacing: -0.2em;
    color: #000;
  }

  h2 {
    font-family: 'Campton-light';
    font-size: 7.5em;
  }

p {
    font-family: 'Campton-light';
    
}


.time p {
    color: #a1a1a1;
    font-size: 1.1rem;
}

.time {
    position: absolute;
    transform: rotate(-90deg);
    top: 53%;
}

.center {
    text-align: center;
}




.paragraph p {
    color: #2e2f30;
    font-size: 1.4rem;
    
}

/* .paragraph {
    margin: 0;
    position: absolute;
    top: 173%;
    left: 103%;
    transform: translate(-50%, -50%);
    width: 600px;
} */

.paragraph {
    width: 700px;
    margin-top: 15vh;
    margin-left: 300px;
}

.text-container {
    margin-top: -20px;
}


.background {
    position: absolute;
    margin-top:-80px;
    background-color: #f8f8f8!important;
    color: #f8f8f8;
    height: 100vh;
    width: 100vw;
}


img {
    height: 100vh;
    width: 34vw;
    object-fit: cover;
    object-position: 50% 1%;
    overflow: hidden;
    
  }


  


  .person {
      margin-top: -50px;
  }


.fa-2x {
    font-size: 24px!important;
}

.linkedin-icon {
    color:  #212529;
    opacity: 0.2;
    position: absolute;
    z-index: 3000;
    top: 30px;
    right: 50px;
}

.linkedin-icon:hover {
  color:  #212529;
  transition: all 0.9s cubic-bezier(0.000, 0.000, 0.230, 1);
  opacity: 1;
}


  

  

  /* On screens that are 600px or less, set the background color to olive */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h2 {
        font-family: 'Campton-light';
        font-size: 3.5em;
      }
    
    .linkedin-icon {
        display: none;
    }

    
    .paragraph {
        position: absolute;
        left: 0;
        top: 40vh;
        width: 320px;
    }


    img {
        height: 50vh;
        width: 100vw;
        object-fit: cover;
        object-position: 50% 1%;
        overflow: hidden;
      }


      .paragraph {
        width: 300px;
        margin-top: -50px;
        margin-left: 40px;
    }
    
     
    .time {
        position: absolute;
        transform: rotate(0deg);
        top: 230px;
        left: 42px;
    }

    .background {
        position: absolute;
        margin-top: 0;
        background-color: #f8f8f8!important;
        color: #f8f8f8;
        height: 100vh;
        width: 100vw;
    }

   


}