<div class="background"></div>
<div class="container-fluid ">
  <div class="row">
   

    <div class="text-container col-sm-8">
        <div class="title center">
            <!-- <h1><span style="background-image: -webkit-linear-gradient(10deg,#00F260,#0575E6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">Hello.</span></h1>      -->
            <!-- <h1>Hello.</h1> -->
        </div>

      <div class="paragraph">
        <h2>Hi. I&rsquo;m Emil Digital
            <span style="background-image: -webkit-linear-gradient(right, #F7971E, #FFD200);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;">Designer</span>.
        </h2>
      </div>
      <div class="time">
        <p>Digital UX portfolio 2019</p>
      </div>
    </div>

    <!-- <div class="image-container col-sm-4">
        <img src="assets/img/Profile4.png" alt="an image of me">
      
    </div>   -->
    <a href="http://www.linkedin.com/in/emil-kristoffersen-95a890b8" target="_blank">
      <fa-icon [icon]="['fab', 'linkedin']" size="2x" class="linkedin-icon">
      </fa-icon>
    </a>
    
  </div>
     
  <div class="gradient-cut2"></div>
  
</div>

