
<div class="container-fluid full-view-width">
  
  <div class="row">
    <div class="content-container col-12">

      <div mouseWheel class="img-container" *ngFor="let i of sliderArray; let select = index;" (click)="inspectProject(selectedIndex)"
        [ngClass]="{'selected': select == selectedIndex}" (mouseWheelUp)="mouseWheelUpFunc(event)" (mouseWheelDown)="mouseWheelDownFunc(event)">
        <img src="{{i.img}}" alt="{{i.alt}}">

      </div>

      <div [ngStyle]="{'transform': 'translateY('+ translate + '%' +')', 'transition': '.8s'}">
        <div class="text-container" (click)="inspectProject(selectedIndex)">
          <div class="page-text" *ngFor="let i of sliderArray;let select = index;" [ngClass]="{'selected': select == selectedIndex}">
            <div class="background-number">
                <h2>{{i.number}}</h2>
            </div>            
            <h1>{{i.text}}</h1>
            <div class="bar"></div>
            <p>{{i.description}}</p>
          </div>
        </div>
      </div>


      <div class="next-button">
        <fa-icon [icon]="['fas', 'arrow-down']" (click)="next(x)"></fa-icon>
      </div>

      <div class="slider">
        <div class="slide-button-parent-container" *ngFor="let i of sliderArray; let x = index" (click)="selected(x)">
          <div class="select-box">
            <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>