


h3 > a {
    position: relative;
    /* color:  #badffa; */
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    to right,
    #F7971E,
    #FFD200 50%,
    #2e2f30 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

h3 > a:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}


.nav-container {
    color: #fff;
    background-color: #F8F8F8;
    padding-top: 28px;
    height: 80px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2005;
}

/* .nav-container.shade {
    -webkit-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
    opacity: 0.95;
} */

.nav-container.shade {
    background-color: #F8F8F8;
    -webkit-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
    opacity: 0.95;
}


.navigation-mobile {
    position: relative;
    z-index: 2005;

}

.center {
   text-align: center;
}

.navigation {
    display: block;
    margin: 0 auto;
    width: 32%;
    /* position: absolute; */
    z-index: 2005;
    /* bootstrap block overwrite */
    display: flex !important;
    /* padding: 0 0 0 110px; */
}

.navigation h3 {
    /* text-transform: uppercase; */
    font-weight: 400;
    text-align: center;
    
}

.navigation-padding {
    /* padding-left: 80px; */
    margin:0 100px 10px 0;
    position: relative;
}

.stripe-left {
    border-bottom: 2px solid #212529;
    position: relative;
    height: 15px;
    width: 100px;
    left: 480px;
}


.navigation-expand {
    background-color: #212529;
    width: 100vw;
    height: 100vh;
}

.navigation-text-container {
    padding-top: 200px;
}

.ham {
    cursor: pointer;
    float: right;
    padding-top: 20px;
    margin-right: 26px;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #2e2f30;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }


  /* more @https://codepen.io/ainalem/pen/LJYRxz 
  Remember credit  */


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .circle {
        background-color: #fff;
        border-radius: 50px;
        position: absolute;
        top: 25px;
        right: 32px;
        float: right;
        z-index: 1004;
        width: 75px;
        height: 75px;
        -webkit-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 22px -4px rgba(0,0,0,0.1);
    }



    h3 > a{
        font-size: 4rem;
    }

    h3 {
        padding-top: 70px;
    }

    .navigation {
        margin:0 0 0 0;
    }

    .navigation-padding {
        margin:0 0 0 0;
    }


    .nav-container {
        /* color: #fff; */
        float: right;
        background-color: transparent;
        padding-top: 0;
        /* height: 80px; */
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 3005;
    }

    /* .filler {
        width: 100%;
        height: 0;
        position: relative;
        z-index: 10001;
    } */
  }