.fa-2x {
    font-size: 24px!important;
}

.linkedin-icon {
    color:  #212529;
    opacity: 0.2;
    position: absolute;
    top: 52px;
    right: 100px;
}

.linkedin-icon:hover {
  color:  #212529;
  transition: all 0.9s cubic-bezier(0.000, 0.000, 0.230, 1);
  opacity: 1;
}


.navigation-mobile {
    position: relative;
    z-index: 1009;

}

.center {
   text-align: center;
}

.navigation {
    position: absolute;
    z-index: 1004;
    /* bootstrap block overwrite */
    display: flex !important;
    padding: 60px 0 0 110px;
}

.navigation h3 {
    /* text-transform: uppercase; */
    font-weight: 400;
}

.navigation-padding {
    /* padding-left: 80px; */
    margin:0 100px 10px 0;
    position: relative;
}

.stripe-left {
    border-bottom: 2px solid #212529;
    position: absolute;
    height: 70px;
    width: 100px;
    left: 480px;
}

.navigation-icon {
    float: right;
    padding: 15px 15px 15px 15px;
}

.navigation-expand {
    background-color: #212529;
    width: 100vw;
    height: 100vh;
}

.navigation-text-container {
    padding-top: 200px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#badffa;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }


  /* more @https://codepen.io/ainalem/pen/LJYRxz 
  Remember credit  */



/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 400px) {
    h3 > a{
        font-size: 4rem;
    }

    h3 {
        padding-top: 70px;
    }

    .navigation {
        margin:0 0 0 0;
    }

    .navigation-padding {
        margin:0 0 0 0;
    }
  }