/* You can add global styles to this file, and also import other style files */
@import "node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "~bootstrap/dist/css/bootstrap.css";



@font-face {
    font-family: 'Aileron';
    src: url('assets/fonts/Aileron/Aileron-Bold.ttf') format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Avenir';
    src: url('assets/fonts/Avenir/AvenirNextLTPro-Bold.otf') format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'Campton';
    src: url('assets/fonts/Campton/Campton-BoldDEMO.ttf') format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Campton-light';
    src: url('assets/fonts/Campton/Campton-LightDEMO.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('assets/fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format("truetype");
    font-weight: 900;
}


  /* h3 > a {
    position: relative;
    color:  #badffa;
    text-decoration: none;
  }
  
  h3 > a:hover {
    position: relative;
    color:  #badffa;
    text-decoration: none;
  }


  h3 > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 12px;
    bottom: 0;
    left: 10px;
    background-image: linear-gradient(#FFD200, #F7971E);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  h3 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  } */


h3 > a {
    position: relative;
    /* color:  #badffa; */
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    to right,
    #F7971E,
    #FFD200 50%,
    #2e2f30 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

h3 > a:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}




body{ 
    /* background-image: url("assets/img/backgroundimg-test.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: #FFF
    /* height: 100vh;
    background-image: linear-gradient(to bottom, #fff, #F4F4F4); */
  }

  

h3 {
    font-family: 'Campton';     
    font-size: 20px;
    position: relative;
}


h1 {
    font-family: 'PlayfairDisplay-Regular';
  }


  

.full-view-width {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
}

.gradient-cut {
    position: absolute;
    z-index: -999;
    height: 600px;
    left: 0;
    top: -34%;
    width: 100%;
    transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    background-color: #F8F8F8;
    overflow: hidden;
  }
  
