<div class="background-top"></div>
<div class="gradient-cut-background-top"></div>



<div class="background"></div>
<div class="container-fluid ">
  <div class="row">

  <div class="image-container col-sm-12">
    <img src="assets/img/Profile4.png" alt="an image of me" class="center">
  </div>  

  <div class="title center">
    <h1>A bit about me.</h1>
  </div>

  <div class="body-text center col-sm-12">
    <p>Greetings! I’m Emil Kristoffersen - a 25 years old ordinary fellow, currently residing in Copenhagen. 
<br>
<br>
      I believe that digital great experiences is what makes our lives a little better on a day to day basis. I therefore strive to develop experiences with a profound eagerness to truly understand who I am designing for and with.
      
      The who, is also my driving factor, as working for and with inspiring individuals is what motivates me, to not only be innovative, but also keep learning.
      <br>
      <br>
      When I am not working, I usually spend time lifting heavy stuff in the gym, riding my cheap race bike or trying to figure out why I constantly have an urge to purchase high carbon steel japanese chef knives. 
      
      </p>
      <br>
    <p>I like plants, which is why I have thrown in a lilly in the header image 🌱</p>
  </div>


  <div class="skills-title col-sm-12 center">
    <h3>Skills</h3>
  </div>

  <!-- <div class="skills-container-parent col-sm-12"> -->

<div class="col-sm-6 skills-container1">

    <div class="skills">
        <div class="row">
          <!-- <div class="col-sm-8"> -->
            <div class="circle"><img src="assets/img/skills/ps2.png" alt="" class="center"></div>
          <!-- </div> -->
            <div class="dots">
                <span class="dotx"></span>
                <span class="dotx"></span>
                <span class="dotx"></span>
                <span class="dotx2"></span>
                <span class="dotx2"></span>
             </div>
        </div>
      </div>
    
      <div class="skills">
          <div class="row">
            <!-- <div class="col-sm-8"> -->
              <div class="circle"><img src="assets/img/skills/xd2.png" alt="" class="center"></div>
            <!-- </div> -->
              <div class="dots">
                  <span class="dotx"></span>
                  <span class="dotx"></span>
                  <span class="dotx"></span>
                  <span class="dotx"></span>
                  <span class="dotx"></span>
               </div>
          </div>
        </div>
    
        <div class="skills">
            <div class="row">
              <!-- <div class="col-sm-8"> -->
                <div class="circle"><img src="assets/img/skills/figma2.png" alt="" class="center"></div>
              <!-- </div> -->
                <div class="dots">
                    <span class="dotx"></span>
                    <span class="dotx"></span>
                    <span class="dotx"></span>
                    <span class="dotx2"></span>
                    <span class="dotx2"></span>
                </div>
            </div>
          </div>
    
          <div class="skills">
              <div class="row">
                <!-- <div class="col-sm-8"> -->
                  <div class="circle"><img src="assets/img/skills/oop2.png" alt="" class="center"></div>
                <!-- </div> -->
                  <div class="dots">
                      <span class="dotx"></span>
                      <span class="dotx"></span>
                      <span class="dotx"></span>
                      <span class="dotx2"></span>
                      <span class="dotx2"></span>
                   </div>
              </div>
            </div>
</div>







<div class="col-sm-6 skills-container">
    <div class="skills">
        <div class="row">
          <!-- <div class="col-sm-2"> -->
            <div class="circle2"><img src="assets/img/skills/markup2.png" alt="" class="center"></div>
          <!-- </div> -->
            <div class="dots2">
                <span class="doty"></span>
                <span class="doty"></span>
                <span class="doty"></span>
                <span class="doty"></span>
                <span class="doty2"></span>
             </div>
        </div>
      </div>

      <div class="skills">
          <div class="row">
            <!-- <div class="col-sm-2"> -->
              <div class="circle2"><img src="assets/img/skills/jira2.png" alt="" class="center"></div>
            <!-- </div> -->
              <div class="dots2">
                  <span class="doty"></span>
                  <span class="doty"></span>
                  <span class="doty"></span>
                  <span class="doty"></span>
                  <span class="doty2"></span>
               </div>
          </div>
        </div>

        <div class="skills bottom">
            <div class="row">
              <!-- <div class="col-sm-2"> -->
                <div class="circle2"><img src="assets/img/skills/msoffice2.png" alt="" class="center"></div>
              <!-- </div> -->
                <div class="dots2">
                    <span class="doty"></span>
                    <span class="doty"></span>
                    <span class="doty"></span>
                    <span class="doty"></span>
                    <span class="doty2"></span>
                 </div>
            </div>
          </div>

</div>

  <!-- </div> -->

  </div>
</div>



